configuration {
    modi: "window,drun,filebrowser,ssh,calc";
    font: "Hack Nerd Font 14";
    show-icons: true;
    terminal: "urxvt";
    sidebar-mode: true;
}

@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

window {
   width: 700;
   height: 500;
}

element-icon {
    size: 5ch;
}

