configuration {
    modi: "window,drun,filebrowser,ssh,calc";
    font: "Hack Nerd Font 14";
    show-icons: true;
    terminal: "urxvt";
    sidebar-mode: true;
}

@theme "~/.xmonad/rofi/theme.rasi"
